<div class="row">
    <h1>Educacion</h1>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="col-lg-2">
            <button class="btn btn-dark"  *ngIf="isLogged">
                Agregar Educacion
            </button>
        </div>
    </form>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td> <img src="../../../assets/communication.png" alt=""></td>
                    <td>
                        <h2>{{Educacion.nombreE}}</h2>
                    </td>
                    <td>{{Educacion.descripcionE}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil"></i>Edit
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-x-circle"></i>Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>