<div class="row">
    <h1>Proyectos</h1>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="col-lg-2">
            <button  class="btn btn-dark" *ngIf="isLogged">
                Agregar proyecto
            </button>
        </div>
    </form>
   
    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proyecto of proyecto">
                    <td> <img src="{{Proyecto.img}}" alt=""></td>
                    
                    <td>
                        <h2>{{Proyecto.nombre}}</h2>
                    </td>
                    <td>{{Proyecto.descripcion}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproyecto/{{Proyecto.id}}">
                            <i class="bi bi-pencil"></i>Edit
                        </button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                            <i class="bi bi-x-circle"></i>Delete </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
