<div class="row">
    <h1>Hard & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleFontSize]="'35'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundColor]="'grey'"
            [outerStrokeColor]="'red'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [showUnits]="false"
            [title]="'CSS'"
            [titleFontSize]="'35'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundColor]="'grey'"
            [outerStrokeColor]="'red'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [showUnits]="false"
            [title]="'JS'"
            [titleFontSize]="'35'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundColor]="'grey'"
            [outerStrokeColor]="'red'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            [showUnits]="false"
            [title]="'GITHUB'"
            [titleFontSize]="'35'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundColor]="'grey'"
            [outerStrokeColor]="'red'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [showUnits]="false"
            [title]="'Ingles'"
            [titleFontSize]="'35'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundColor]="'grey'"
            [outerStrokeColor]="'red'"
        ></circle-progress>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [showUnits]="false"
            [title]="'Comunicacion'"
            [titleFontSize]="'27'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            [backgroundColor]="'grey'"
            [outerStrokeColor]="'red'"
        ></circle-progress>
    </div>

    


    
</div>
