<div>
    <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged" >
        Edit persona
    </button>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 ">
        <img src="{{persona?.img}}"
        class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona?.nombre}} {{persona?.apellido}}</p>
        <p id="fullStack">Full Stack Developor Jr</p>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" descripcion>
        <span>
            <h1>Acerca de mi</h1>
            <p>
                {{persona?.descripcion}}
            </p>
        </span>
    </div>
</div>

