.row{
    padding: 20px;
}

div{
    background-color: rgb(247, 230, 230);
    
    text-align: center;
}
 #fotoPerfil{
    border-radius: 100%;
    margin-top: -10%;
 } 

#descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
} 
#nombre{
    font-weight: bold;
}

@media (min-width: 1200px){
    #fotoPerfil{
        height: 330px;
        width: 330px;
    }
}
 